<tr>
    <td>{{id}}</td>
    <td>{{burger_name}}</td>
    {{#unless devoured}}
        <td>
            <button class="devourBtn btn btn btn-warning" data-id="{{id}}">Devour</button>
        </td>
    {{/unless}}
</tr>