<tr>
    <td>{{id}}</td>
    <td>{{burger_name}}</td>
    {{#unless devoured}}
        <td>
            <button class="devourBtn btn btn btn-warning" data-id="{{id}}">Devour</button>
        </td>
    {{/unless}}

    {{#if devoured}}
        <td>
            <button class="deleteBtn btn btn btn-warning" data-id="{{id}}">Delete</button>
        </td>
    {{/if}}
</tr>